/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    position: relative; 
    z-index: 10; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

.page-content {
    margin: 2rem;
    padding: 2rem;
}

.footer-section {
    flex: 1;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin: 1rem 0;
}


/* Responsive design */
@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
    }

    nav ul {
        margin-bottom: 1rem;
    }
}
